
.parent {
    width: 100%; 
    background-color: burlywood;
   
}

header{
    background-color: brown;
}


.div-head-1 {
width:50%; 
background-color: chartreuse;

}
.div-head-2 {
    width:50%;
    float: right;
    background-color: crimson;
    display: inline-block; 
    
    
    }

 .body-div-1 {
     width:50%; 
        margin-top: 30px;
        background-color: darkolivegreen;
    }

.left{
     width:50% ;
    float: left;
    background-color: darkorange;
  

}

